<div class="flex flex-column justify-center items-center h-screen">
  <div class="border-solid border-2 rounded-md shadow-xl">
    <!-- <h3 class="flex justify-center pb-4" >{{ this.userFormData.productName }}</h3> -->
    <div class="font-semibold bg-gray-200 text-gray-700 py-1 px-1">
      <div class="flex justify-end" >
        <button id="btnCloseForm" class="close-button">X</button>
      </div>
      <h2 class="text-center">{{ this.userFormData.productName }}</h2>
    </div>
      <div class="p-4">
        <app-star></app-star>
        <div *ngFor="let idx of this.questions" >
          <app-input [inputLabel]="idx.questionText" [inputType]="idx.type"></app-input>
          <br>
        </div>
        <input type="text" [value]="this.userFormData._id" hidden readonly />
        <br>
        <div class="flex justify-center items-center">
          <button class="bg-cyan-800 text-white p-2 rounded-lg shadow-lg" (click)="submit()">Submit</button>
        </div>
      </div>
  </div>
</div>
