<div class="abc">
  <div class="col-span-4 col-start-1 w-screen flex justify-evenly items-center py-4">
    <div>
      <h1>Get Customer Feedback</h1>
      <p>Are you looking to get in-the moment <br> customer feedback from your webapps?</p>
      <p>And, You dont have the resources to <br> build this in your apps. <br> If yes, we are here to help you!!!</p>
    </div>
    <div>
    <form action="" class="w-80">
      <div class="flex border-solid border-2 rounded-md flex-col justify-center items-center">
        <h2>
          <span class="text-2xl font-bold">Register</span>
        </h2>
        <input clrInput class="w-64 p-2 rounded-lg m-1" type="text" class="form-control" placeholder="Enter username" name="username"  [(ngModel)]="username" />
        <input clrInput class="one p-2 rounded-lg m-1" type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="password" />
        <button class="w-48 bg-cyan-800 text-white p-2 rounded-lg m-1 items-center" (click)="submit()" >Register</button>
        <br>
        <label>Have an account?</label>
        <a routerLink="/" class="text-cyan-800">Login</a>
      </div>
    </form>
  </div>
</div>
