<div class="abc">
  <div class="col-span-4 col-start-3 border-solid border-2 rounded-md w-80 flex justify-center items-center">
    <form action="" class="w-80">
      <div class="flex flex-col justify-center items-center">
        <h2>
          <span class="text-2xl font-bold">Register</span>
        </h2>
        <input clrInput class="w-64 p-2 rounded-lg m-1" type="text" class="form-control" placeholder="Enter name"  />
        <input clrInput class="w-64 p-2 rounded-lg m-1" type="text" class="form-control" placeholder="Enter email"  />
        <input clrInput class="one p-2 rounded-lg m-1" type="password" class="form-control" placeholder="Enter password" />
        <button class="w-48 bg-cyan-800 text-white p-2 rounded-lg m-1 items-center" (click)="submit()" >Register</button>
        <br>
        <label>Have an account?</label>
        <a routerLink="/" class="text-cyan-800">Login</a>
      </div>
    </form>
  </div>
</div>
