<div class="feedback">
  <div class="feedback-data-left">
    <app-form class="border-solid border-2 rounded-md"></app-form>
  </div>
  <div class="feedback-data-right">
    <app-formdesign class=" p-3 border-solid border-l-2"></app-formdesign>
  </div>

</div>
<div class="footer rounded-lg mx-16 px-10">
    <button class="bg-cyan-800 text-white p-2 rounded-lg m-1 items-center">Get Script</button>
    <button class="bg-cyan-800 text-white p-2 rounded-lg m-1 items-center" (click)="navigate()" >Return to subscription</button>
</div>

<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="this.inputService.getScript()">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
      <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h3 class="font-semibold" >Congratulations!!! You have successfully created your User-feedback form</h3>
          <input type="text" class="mt-4 p-2 border-2 rounded-md" placeholder="Copy the script to embed form in your website" size="50" />
          <br>
          <button class="bg-cyan-800 text-white p-2 rounded-lg m-1 items-center" (click)="this.inputService.setScript(false)">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>
