.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.feedback-data-left {
  flex-grow: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-data-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 750px;
  left: 25%;
  border: 2px solid black;
}
