.feedback {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
}
.feedback-data-left {
    flex-grow: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-data-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    
    /* border: 2px solid black; */
}