<div class="feedback">
  <div class="feedback-data-left">
    <app-form class="border-solid border-2 rounded-md"></app-form>
  </div>
  <div class="feedback-data-right">
    <app-formdesign class=" p-3 border-solid border-l-2"></app-formdesign>
  </div>

</div>
<div class="footer rounded-lg mx-16 px-10">
    <button class="bg-cyan-800 text-white p-2 rounded-lg m-1 items-center">Get Script</button>
    <button class="bg-cyan-800 text-white p-2 rounded-lg m-1 items-center" (click)="navigate()" >Return to subscription</button>
</div>
