<form class="container p-5">
  <h2>{{ this.inputService.getEventDetails().eventTitle }}</h2>

  <br>

  <app-star></app-star>

  <div *ngIf="this.inputService.giveInput">

    <div class="modal rounded-lg">
      <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <clr-input-container>
              <input class="p-2 rounded-lg m-1" clrInput name="inputElements.label" type="text" placeholder="Give Label" [(ngModel)]="inputElements.label" />
              <input class="p-2 rounded-lg m-1" clrInput name="inputElements.type" type="text" placeholder="Give Input Type" [(ngModel)]="inputElements.type" />
            </clr-input-container>

            <button (click)="addInput()" class="bg-cyan-800 text-white p-2 rounded-lg m-1" >Add Input</button>
          </div>
      </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>

  </div>

  <br>

  <div *ngFor="let val of inputElementData" class="w-80 m-2">
      <app-input [inputLabel]="val.label" [inputType]="val.type"></app-input>
      <br>
  </div>
  <button class="bg-cyan-800 text-white p-2 rounded-lg ml-2" >Submit</button>
</form>

