<div class="container p-1">
  <h1>How is your opportunity management experience?</h1>

  <br>

  <app-star></app-star>

  <div *ngIf="this.inputService.giveInput">

    <div class="modal">
      <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <clr-input-container>
              <label></label>
              <input clrInput type="text" placeholder="Give Label" [(ngModel)]="inputElements.label" />
              <input clrInput type="text" placeholder="Give Input Type" [(ngModel)]="inputElements.type" />
            </clr-input-container>

            <button (click)="addInput()" class="border-solid border-2 rounded-md" >Add Input</button>
          </div>
      </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>

  </div>

  <br>

  <div *ngFor="let val of inputElementData" class="w-64">
      <app-input [inputLabel]="val.label" [inputType]="val.type"></app-input>
      <br>
  </div>
</div>

